[Unit]
Description=Web-counter svelte & sveltekit frontend container
Wants=web-counter.pod
After=web-counter.pod
PartOf=web-counter.pod

[Container]
ContainerName=web-counter-frontend
Pod=web-counter.pod
Image=web-counter-frontend.build