[Unit]
Description=Web-counter database initialization and migration container
Wants=web-counter.pod
After=web-counter.pod
PartOf=web-counter.pod

[Service]
Type=oneshot
RemainAfterExit=yes

[Container]
ContainerName=web-counter-database-init
Pod=web-counter.pod
Environment=DATABASE_URL="sqlite:/app/db/database.sqlite"
Image=web-counter-database-init.build
Exec=up