[Unit]
Description=Web-counter python fastapi backend api container
Wants=web-counter.pod
After=web-counter.pod
PartOf=web-counter.pod

[Container]
ContainerName=web-counter-api
Pod=web-counter.pod
Environment=WEB_COUNTER_DB_PATH="sqlite:/app/db/database.sqlite"
Image=web-counter-api.build
